{% extends 'base.html.twig' %}

{% block body %}
    <div class="sb--cart-content">
            {% if travelSchedule is defined %}
                <div class="sb--cart-row">
                    DEPART FROM: {{ travelSchedule.departFrom }}
                </div>
                <div class="sb--cart-row">
                    TRAVEL TO: {{ travelSchedule.travelTo }}
                </div>
                <div class="sb--cart-row">
                    DEPARTING ON: {{ travelSchedule.departingOn|date('Y-m-d') }}
                </div>
                <div class="sb--cart-row">
                    RETURNING ON: {{ travelSchedule.returningOn|date('Y-m-d') }}
                </div>
                <div class="sb--cart-row">
                    DEPARTURE TIME: {{ travelSchedule.departureTime|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    TIME OF ARRIVAL: {{ travelSchedule.timeOfArrival|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    ESTIMATED ARRIVAL TIME: {{ travelSchedule.estimatedArrivalTime|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    PRICE: {{ travelSchedule.fee }} HRK
                </div>

            {% endif %}
            <div class="sb--cart-row">
                {% if form is defined %}
                    {{ form_start(form) }}

                    {{ form_end(form) }}

                {% endif %}
            </div>


    </div>

{% endblock %}

