{% extends 'base.html.twig' %}

{% block body %}
    <div class="sb--cart-content">
        <h1 class="cart-title">Cart Information</h1>
            {% if travelSchedule is defined %}
                <div class="sb--cart-row">
                    Depart from: {{ travelSchedule.departFrom }}
                </div>
                <div class="sb--cart-row">
                    Travel to: {{ travelSchedule.travelTo }}
                </div>
                <div class="sb--cart-row">
                    Departing on: {{ travelSchedule.departingOn|date('Y-m-d') }}
                </div>
                <div class="sb--cart-row">
                    Departure time: {{ travelSchedule.departureTime|date('H:i') }}h
                </div>
                <div class="sb--cart-row">
                    Time of arrival: {{ travelSchedule.timeOfArrival|date('H:i') }}h
                </div>
                <div class="sb--cart-row">
                    Estimated arrival time: {{ travelSchedule.estimatedArrivalTime|date('H:i') }}h
                </div>

            {% endif %}
        <hr class="cart-break-info">
        <div class="company-info">
            <span>{{ busCompany }}</span>
        </div>
        <div class="price-infos">
            <h4 class="pricing-title">Bus ticket pricing</h4>
            Children: <span id="child-price">{{ travelSchedule.childPrice }}€</span> |
            Students: <span id="student-price"> {{ travelSchedule.studentPrice }}€</span> |
            Adults: <span id="adult-price"> {{ travelSchedule.adultPrice }}€</span> |
            Pensioners: <span id="pensioner-price"> {{ travelSchedule.pensionerPrice }}€</span>
           {# <div>
                <span class="price-subtotals"></span>
            </div>#}
            <hr class="cart-break">

            <div>
                <p class="total-price-text">Total price: </p>
                <span class="price-totals" style="margin: 50px; color: black"></span>
            </div>
        </div>

        {% if form is defined %}
            <div class="container-fields-cart">
                {{ form_start(form, {'attr': {'class': 'quantity-form', 'onsubmit': 'return checkOneFilled();'}}) }}
                {{ form_row(form.childQuantity) }}
                {{ form_row(form.studentQuantity) }}
                {{ form_row(form.adultQuantity) }}
                {{ form_row(form.pensionerQuantity) }}
                {{ form_end(form) }}
            </div>

        {% endif %}
    </div>

    <script>

        let quantityInputs = document.querySelectorAll('.quantity');
        let total = 0;

        quantityInputs.forEach(function(input) {
            // define previousVal as the initial value of the input
            let previousValue = parseInt(input.value) || 0;
            input.addEventListener("change", function() {

                let quantity = parseInt(input.value) || 0;
                let childPrice = parseInt(document.getElementById("child-price").textContent);
                let studentPrice = parseInt(document.getElementById("student-price").textContent);
                let adultPrice = parseInt(document.getElementById("adult-price").textContent);
                let pensionerPrice = parseInt(document.getElementById("pensioner-price").textContent);

                if (input.id === "cart_childQuantity") {
                    total = total - (previousValue * childPrice) + (quantity * childPrice);

                } else if (input.id === "cart_studentQuantity") {
                    total = total - (previousValue * studentPrice) + (quantity * studentPrice);

                } else if (input.id === "cart_adultQuantity") {
                    total = total - (previousValue * adultPrice) + (quantity * adultPrice);

                } else if (input.id === "cart_pensionerQuantity") {
                    total = total - (previousValue * pensionerPrice) + (quantity * pensionerPrice);
                }

                previousValue = quantity;

                document.querySelector('.price-totals').innerHTML = total + " €";
            });
        });

        let form = document.getElementsByTagName('form')['cart'];
        /**
         * @param input
         * @param message
         * @desc error flag
         */
        let showError = (input, message) => {
            const formField = form.parentElement;
            formField.classList.remove('success');
            formField.classList.add('error');
            const error = formField.querySelector('small');
            error.style.color = "red";
            error.style.fontSize = "1.3rem";
            error.textContent = message;
        }

        /**
         * @param input
         * @desc success flag
         */
        let showSuccess = (input) => {
            const formField = form.parentElement;
            formField.classList.remove('error');
            formField.classList.add('success');
            const error = formField.querySelector('small');
            error.textContent = '';
        }

        /**
         * @TODO minimum one field must be filled in!
         */
        let checkOneFilled = () => {
            let quantityFields = document.querySelectorAll('.quantity');
            let valid = false;
            for (let i = 0; i < quantityFields.length; i++) {
                if (typeof quantityFields[i].value === "string") {
                    if (parseInt(quantityFields[i].value) !== 0) {
                        showSuccess(quantityFields[i]);
                        valid = true;
                        return valid;
                    } else {
                        showError(quantityFields[i], "Minimum one field must be filled in!");
                        return valid;
                    }
                }
            }
        }
    </script>

{% endblock %}