{% extends 'base.html.twig' %}

{% block body %}
    <div class="sb--cart-content">
            {% if travelSchedule is defined %}
                <div class="sb--cart-row">
                    DEPART FROM: {{ travelSchedule.departFrom }}
                </div>
                <div class="sb--cart-row">
                    TRAVEL TO: {{ travelSchedule.travelTo }}
                </div>
                <div class="sb--cart-row">
                    DEPARTING ON: {{ travelSchedule.departingOn|date('Y-m-d') }}
                </div>
                <div class="sb--cart-row">
                    RETURNING ON: {{ travelSchedule.returningOn|date('Y-m-d') }}
                </div>
                <div class="sb--cart-row">
                    DEPARTURE TIME: {{ travelSchedule.departureTime|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    TIME OF ARRIVAL: {{ travelSchedule.timeOfArrival|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    ESTIMATED ARRIVAL TIME: {{ travelSchedule.estimatedArrivalTime|date('H:i') }}
                </div>
                <div class="sb--cart-row">
                    <i id="icon-open" class="fa fa-question-circle" style="font-size: 24px;"></i>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="price-data">
                                Prices based on passenger type: (fix this dummy design :(<br>
                                CHILDREN: {{ travelSchedule.childPrice }}
                                STUDENT: {{ travelSchedule.studentPrice }}
                                ADULT: {{ travelSchedule.adultPrice }}
                                PENSIONER: {{ travelSchedule.pensionerPrice }}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
            <div class="sb--cart-row">
                {% if form is defined %}
                    {{ form_start(form) }}

                    {{ form_end(form) }}

                {% endif %}
            </div>
    </div>
    <script>
        let modalInfo = function () {
            let modal = document.getElementById('myModal');
            let iconBtn = document.getElementById('icon-open');

            let spanBtn = document.getElementsByClassName('close')[0];

            iconBtn.addEventListener('click', function () {
                modal.style.display = "block";
            });

            spanBtn.addEventListener('click', function () {
                modal.style.display = 'none';
            })

            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            })
        }

        modalInfo();

    </script>

{% endblock %}





