{% extends 'base.html.twig' %}

{% block title %}Cart Controller{% endblock %}

{% set childQuantity = 0 %}
{% set studentQuantity = 0 %}
{% set adultQuantity = 0 %}
{% set pensionerQuantity = 0 %}

{% set totalPrice = 0 %}

{% set customerType = ['Child', 'Student', 'Adult', 'Pensioner'] %}

{% block body %}

<div class="sb--cart-container">
    <div class="sb--cart-content">
        {% for message in app.flashes('success') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if cartTicket is not defined %}
            {% for message in app.flashes('warning-cart') %}
                <div class="flash-warning">
                    {{ message }}
                </div>
            {% endfor %}
        <div class="sb--main-info">
            {% else  %}
            <h1 class="cart-title">Outbound ticket info</h1>

                <div class="sb--cart-row">
                    Depart from: {{ cartTicket.getDepartFrom }}
                </div>

                <div class="sb--cart-row">
                   Travel to: {{ cartTicket.getTravelTo }}
                </div>

                <div class="sb--cart-row">
                   Departing on: {{ cartTicket.getDepartingOn|date('d-m-Y') }}
                </div>

                <div class="sb--cart-row">
                   Departure time: {{ cartTicket.getDepartureTime|date('H:i') }}
                </div>

                <div class="sb--cart-row">
                   Time of arrival:  {{ cartTicket.getTimeOfArrival|date('H:i') }}
                </div>

                <div class="sb--cart-row">
                   Estimated arrival time: {{ cartTicket.getEstimatedArrivalTime|date('H:i') }}
                </div>

            {% endif %}
            <hr class="cart-break-info">
            <div class="cart--price-info">
                {% if ticketQuantity is defined and ticketQuantity is not null %}
                    {% for quantity in ticketQuantity %}
                        {% for type in customerType %}
                            {#{% set customerType = ['Child', 'Student', 'Adult', 'Pensioner'][i] %}#}
                            {% set quantityValue = attribute(quantity, 'get' ~ type ~ 'Quantity') %}
                            {% if quantityValue > 0 %}
                              <div class="{{ type|lower ~ '-price-cart' }}">{{ type ~ ' Quantity' }}  {{ quantityValue }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% if ticketQuantity is defined and ticketQuantity is not null %}

                    {% for quantity in ticketQuantity %}

                        {% if quantity.getChildQuantity >= 0 %}
                            {% set childSubtotal = (childQuantity + quantity.childQuantity) * cartTicket.childPrice %}
                        {% endif %}

                        {% if quantity.studentQuantity >= 0 %}
                            {% set studentSubtotal = (studentQuantity + quantity.studentQuantity) * cartTicket.studentPrice %}
                        {% endif %}

                        {% if quantity.adultQuantity >= 0 %}
                            {% set adultSubtotal = (studentQuantity + quantity.adultQuantity) * cartTicket.adultPrice %}
                        {% endif %}

                        {% if quantity.pensionerQuantity >= 0 %}
                            {% set pensionerSubtotal = (pensionerQuantity + quantity.pensionerQuantity) * cartTicket.pensionerPrice %}
                        {% endif %}

                        {% set totalPrice = childSubtotal + studentSubtotal + adultSubtotal + pensionerSubtotal %}

                    {% endfor %}
                    <div>
                        <p class="total-price-text-cart">Total price: </p>
                        <span class="price-totals-cart"> {{ totalPrice|number_format(2, '.', '') }}</span>
                    </div>

                {% endif %}
            </div>

            {% if cartTicket is defined %}
                <div class="href-container">
                    <!-- make user confirmation before delete ticket from the cart -->
                    <a class="row-delete" onclick="return confirmAction();" href="{{ path('cart_deleteToCart', {id: cartTicket.id}) }}">Delete</a>
                    <a class="cart-order" href="{{ path('app_order') }}">Make an order</a>
                </div>


            {% else %}
                {% for message in app.flashes('warning-cart') %}
                    <div class="flash-warning">
                        {{ message }}
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>

    <script>

        let confirmAction = () => {

            if (!confirm('Confirm delete?')) {
                return false;
            }

            window.location = "{{ path('app_index') }}";
        }

        setTimeout(() => {
            let flashSuccess = document.querySelector('.flash-success');
            if (!flashSuccess) {
                return false;
            }
            flashSuccess.style.display = 'none';
        }, 1500);
    </script>
{% endblock %}
