{% extends 'base.html.twig' %}

{% block title %}Hello BuyController!{% endblock %}

{% block body %}

<div class="sb--main-cart">
    <div class="sb--main__content">
        <div class="sb--main-info">

            {% if cartTickets is defined %}

                {% for tickets in cartTickets %}
                    {{ tickets.travelSchedule.getDepartFrom }}
                    {{ tickets.travelSchedule.getTravelTo }}
                    {{ tickets.travelSchedule.getDepartingOn|date('d-m-Y') }}
                    {{ tickets.travelSchedule.getReturningOn|date('d-m-Y') }}
                    {{ tickets.travelSchedule.getDepartureTime|date('H:i') }}
                    {{ tickets.travelSchedule.getTimeOfArrival|date('H:i') }}
                    {{ tickets.travelSchedule.getEstimatedArrivalTime|date('H:i') }}
                    {{ tickets.quantity }}
                    {{ tickets.travelSchedule.getFee|number_format(2, '.', '') * tickets.quantity }}
                    <a href="{{ path('cart_updateToCart', {id: tickets.id}) }}">Change Quantity</a>
                   {# <a href="{{ path('cart_deleteToCart', {id: tickets.id}) }}">Delete</a>#}
                    <a href="{{ path('app_order') }}">Make an order</a>

                {% endfor %}

            {% endif %}




        </div>
    </div>
</div>
{% endblock %}
