{% extends 'base.html.twig' %}

{% block title %}Hello BuyController!{% endblock %}

{% set childQuantity = 0 %}
{% set studentQuantity = 0 %}
{% set adultQuantity = 0 %}
{% set pensionerQuantity = 0 %}


{% block body %}

<div class="sb--main-cart">
    <div class="sb--main__content">
        {% for message in app.flashes('success') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning-cart') %}
            <div class="flash-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="sb--main-info">

            {% if cartTickets is defined %}

                {% for tickets in cartTickets %}
                    {{ tickets.travelSchedule.getDepartFrom }}
                    {{ tickets.travelSchedule.getTravelTo }}
                    {{ tickets.travelSchedule.getDepartingOn|date('d-m-Y') }}
                    {{ tickets.travelSchedule.getReturningOn|date('d-m-Y') }}
                    {{ tickets.travelSchedule.getDepartureTime|date('H:i') }}
                    {{ tickets.travelSchedule.getTimeOfArrival|date('H:i') }}
                    {{ tickets.travelSchedule.getEstimatedArrivalTime|date('H:i') }}
                    {{ tickets.getChildQuantity }}
                    {{ tickets.getStudentQuantity }}
                    {{ tickets.getAdultQuantity }}
                    {{ tickets.getPensionerQuantity }}

                    {% if tickets.childQuantity >= 0 %}
                        {% set childSubtotal = (childQuantity + tickets.childQuantity) * tickets.travelSchedule.childPrice %}
                    {% endif %}

                    {% if tickets.studentQuantity >= 0 %}
                        {% set studentSubtotal = (studentQuantity + tickets.studentQuantity) * tickets.travelSchedule.studentPrice %}
                    {% endif %}

                    {% if tickets.adultQuantity >= 0 %}
                        {% set adultSubtotal = (studentQuantity + tickets.adultQuantity) * tickets.travelSchedule.adultPrice %}
                    {% endif %}

                    {% if tickets.pensionerQuantity >= 0 %}
                        {% set pensionerSubtotal = (pensionerQuantity + tickets.pensionerQuantity) * tickets.travelSchedule.pensionerPrice %}
                    {% endif %}

                    {% set totalPrice = childSubtotal + studentSubtotal + adultSubtotal + pensionerSubtotal %}

                    Total Price: {{ totalPrice|number_format(2, '.', '') }}


                    {#{{ tickets.travelSchedule.getFee|number_format(2, '.', '') * tickets.quantity }}#}
                    <a href="{{ path('cart_updateToCart', {id: tickets.id}) }}">Change Quantity</a>
                    <a href="{{ path('cart_deleteToCart', {id: tickets.id}) }}">Delete</a>
                    <a href="{{ path('app_order') }}">Make an order</a>
                {% endfor %}
                <a href="{{ path('cart_clear') }}">Clear Cart</a>

            {% endif %}



        </div>
    </div>
</div>
{% endblock %}
