{% extends 'base.html.twig' %}

{% block title %}Hello BuyController!{% endblock %}

{% set childQuantity = 0 %}
{% set studentQuantity = 0 %}
{% set adultQuantity = 0 %}
{% set pensionerQuantity = 0 %}

{% block body %}

<div class="sb--main-cart">
    <div class="sb--main__content">
        {% for message in app.flashes('success') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning-cart') %}
            <div class="flash-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="sb--main-info">
            {% if cartTicket is defined and cartTicket is not null %}
                {{ cartTicket.getDepartFrom }}
                {{ cartTicket.getTravelTo }}
                {{ cartTicket.getDepartingOn|date('d-m-Y') }}
                {{ cartTicket.getReturningOn|date('d-m-Y') }}
                {{ cartTicket.getDepartureTime|date('H:i') }}
                {{ cartTicket.getTimeOfArrival|date('H:i') }}
                {{ cartTicket.getEstimatedArrivalTime|date('H:i') }}
            {% endif %}
            {% if ticketQuantity is defined and ticketQuantity is not null %}
                {% for quantity in ticketQuantity %}
                    {{ quantity.getChildQuantity }}
                    {{ quantity.getStudentQuantity }}
                    {{ quantity.getAdultQuantity }}
                    {{ quantity.getPensionerQuantity }}
                {% endfor %}
                {#<a href="{{ path('app_order') }}">Make an order</a>#}
            {% endif %}

            {% if ticketQuantity is defined and ticketQuantity is not null %}

                {% for quantity in ticketQuantity %}

                    {% if quantity.getChildQuantity >= 0 %}
                        {% set childSubtotal = (childQuantity + quantity.childQuantity) * cartTicket.childPrice %}
                    {% endif %}

                    {% if quantity.studentQuantity >= 0 %}
                        {% set studentSubtotal = (studentQuantity + quantity.studentQuantity) * cartTicket.studentPrice %}
                    {% endif %}

                    {% if quantity.adultQuantity >= 0 %}
                        {% set adultSubtotal = (studentQuantity + quantity.adultQuantity) * cartTicket.adultPrice %}
                    {% endif %}

                    {% if quantity.pensionerQuantity >= 0 %}
                        {% set pensionerSubtotal = (pensionerQuantity + quantity.pensionerQuantity) * cartTicket.pensionerPrice %}
                    {% endif %}

                    {% set totalPrice = childSubtotal + studentSubtotal + adultSubtotal + pensionerSubtotal %}

                    Total Price: {{ totalPrice|number_format(2, '.', '') }}
                {% endfor %}

            {% endif %}

{#
            <a href="{{ path('cart_updateToCart', {id: tickets.id}) }}">Change Quantity</a>
#}
            {% if cartTicket is defined %}
                <a href="{{ path('cart_deleteToCart', {id: cartTicket.id}) }}">Delete</a>
                <a href="{{ path('app_order') }}">Make an order</a>
            {% else %}
            {% for message in app.flashes('warning-cart') %}
                <div class="flash-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}

           {# <a href="{{ path('cart_clear') }}">Clear Cart</a>#}
        </div>
    </div>
</div>

    <script>

        setTimeout(() => {
            let flashSuccess = document.querySelector('.flash-success');
            if (!flashSuccess) {
                return false;
            }
            flashSuccess.style.display = 'none';
        }, 1500);
    </script>
{% endblock %}
