{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fields-register">
        <span class="change-password-title">Change password here</span>
        {{ form_start(form, {'attr': {'id': 'change-password-form'} }) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword, {'attr': {'id': 'new-password'}}) }}
        {#{{ form_widget(form.confirmPassword) }}#}
        <div class="btn-box-changePassword">
            <button type="submit" class="btn btn--change-password__submit">Submit</button>
        </div>

        {{ form_end(form) }}
    </div>



{% endblock %}