{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'id': 'change-password-form'} }) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword, {'attr': {'id': 'new-password'}}) }}
        {#{{ form_widget(form.confirmPassword) }}#}
        <button type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}