{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container-login">
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"><span>Google Sign up</span></a>
        <h1 class="login-title">Sign up</h1>
        <input type="email" value="{% if last_username is defined%} {{ last_username }} {% endif %}" name="email" id="inputEmail" class="login--input" placeholder="Email"  required autofocus>
        <input type="password" name="password" id="inputPassword" class="login--input" placeholder="password"  required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <div class="log-question"><p>Does not have an account? Please <a class="register-alert" href="{{ path('app_register') }}">Register!</a></p></div>


        <button id="btn-submit" class="btn btn--login__submit" type="submit">Proceed</button>
    </div>

</form>
{% endblock %}
