{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container-fields">

        <h1 class="login-title">Sign up</h1>
        <p>via</p>
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"><span><i class="fa fa-google" aria-hidden="true"></i></span></a>
        <p>or login: </p>
        <input type="email" value="{% if last_username is defined%} {{ last_username }} {% endif %}" name="email" id="inputEmail" class="login--input" placeholder="Email"  required autofocus>
        <input type="password" name="password" id="inputPassword" class="login--input" placeholder="password"  required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" onclick="showPassword(); "> Show password
            </label>
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <div class="log-question"><p>Does not have an account? Please <a class="register-alert" href="{{ path('app_register') }}">Register!</a></p></div>

        <button id="btn-submit" class="btn btn--login__submit" onclick="clickValidation();" type="submit">Proceed</button>

    </div>
</form>

    <script>
        let showPassword = () => {
            let password = document.getElementById("inputPassword");
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }

        let clickCount = 0;
        let clickValidation = () => {
            clickCount++;

            if (clickCount === 3) {

                let btnClass = document.querySelector(".btn--login__submit");
                btnClass.classList.add('warning');
                btnClass.textContent = "Are you sure you have an account?";
            }
        }
    </script>
{% endblock %}
