{% extends 'base.html.twig' %}

{% block title %}Bus2GO{% endblock %}

{% block body %}

    {% if form is defined %}
        {{ form_start(form) }}
        <span class="search__select-label-from"></span>
        {{ form_row(form.departFrom, {'label':false, id: 'departFrom'}) }}
        <span class="search__select-label-to"></span>
        {{ form_row(form.travelTo, {'label':false, id: 'travelTo'}) }}
        <span class="search__select-label-datefrom"></span>
        {{ form_row(form.departingOn, {'label':false}) }}
        <input type="submit" value="Search" class="btn btn--black__search">
        {{ form_end(form) }}
    {% endif %}

    <div id="search-result"></div>

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}

    {# {{ dump(results) }}#}
    {# <button type="submit" class="btn">Search</button>#}
    {#<form action="{{ path('app_search') }}" method="get">#}
    {#<input name="q" value="query">#}
    {# <input name="depart_from" value="">
        <input name="travel_to" value="">#}
    {# </form>#}

    <script>

        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $(".js-datepicker").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });

        $(document).ready(function () {
            $('#departFrom', '#travelTo').on('keyup', function () {
                let input1 = $(this).val();
                let input2 = $(this).val();
                console.log(input1);
                console.log(input2);
                $.ajax({
                    url: "{{ path('app_index') }}",
                    data: {input1: input1, input2: input2},
                    success: function (data) {
                        let results = '';
                        for (let i = 0; i < data.length; i++) {
                            results += '<div' + data[i] + '</div>';
                        }
                        $('#search-result').html(results);
                    }
                })
            })

        })

    </script>
    <div class="sb--travel-info">
        <div class="sb--column sb--container">
            <div class="sb--row sb--row-middle sb--travel-info__title">
                <div class="sb--row sb--row-justify">
                    <div class="sb--results-notification">
                        <span data-notification="{% if rows is defined %}{{ rows[0]['COUNT(*)'] }} results">{{ rows[0]['COUNT(*)'] }} results <br>{% endif %}</span>
                        {% if departOn is defined %}
                        {{ departOn }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if results is defined %}
        {% for searchResult in results %}
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Depart from</th>
                        <th>Travel to</th>
                        <th>Departure time</th>
                        <th>Arrival time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ searchResult.depart_from }}</td>
                        <td>{{ searchResult.travel_to }}</td>
                        <td>{{ searchResult.departure_time|date('H:i') }}</td>
                        <td>{{ searchResult.estimated_arrival_time|date('H:i') }}</td>
                        <td><a href="{{ path('app_cart_addtocart', {id: searchResult.id}) }}">Select</a></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

    {% endif %}

{% endblock %}
