{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% set defaultCurrency = 'KN' %}
{% set currency = '€' %}
{% set currencyValue = '7.52' %}


{% block body %}

    {% if form is defined %}
        {{ form_start(form) }}
        <span class="search__select-label-from">Travel from</span>
        {{ form_row(form.departFrom, {'label':false}) }}
        <span class="search__select-label-to">Travel to</span>
        {{ form_row(form.travelTo, {'label':false}) }}
        <span class="search__select-label-datefrom">Departing on</span>
        {{ form_row(form.departingOn, {'label':false}) }}
        <span class="search__select-label-dateto">Returning on</span>
        {{ form_row(form.returningOn, {'label':false}) }}
        <input type="submit" value="Search" class="btn btn--black__search">
        {{ form_end(form) }}
    {% endif %}
    {#dump (results) radi#}
    {# {{ dump(results) }}#}
    {# <button type="submit" class="btn">Search</button>#}
    {#<form action="{{ path('app_search') }}" method="get">#}
    {#<input name="q" value="query">#}
    {# <input name="depart_from" value="">
        <input name="travel_to" value="">#}
    {# </form>#}

    <script>

        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $(".js-datepicker").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
    <div class="sb--travel-info">
        <div class="sb--column sb--container">
            <div class="sb--row sb--row-middle sb--travel-info__title">
                <div class="sb--row sb--row-justify">
                    <div class="sb--results-notification">
                        <span data-notification="{% if rows is defined %}{{ rows[0]['COUNT(*)'] }} results">{{ rows[0]['COUNT(*)'] }} results {% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if results is defined %}

    {% for searchResult in results %}

        {% set knToEuro = searchResult.fee * currencyValue|number_format %}
        {% set euro = knToEuro %}
    <div class="search-results_main-content">

        <div class="panel-group">
            <div class="sb--route">
                <div class="sb--route-element sb--route-station">
                    <div>
                        <div class="sb--row">
                            <span class="sb-emphasize">{{ searchResult.departure_time|date('H:i') }}</span>
                        </div>
                        <span class="sb--truncate">{{ searchResult.depart_from }}</span>
                    </div>

                </div>
                <div class="sb--route-element sb--route-connect">
                    <span class="travel-duration">{{ searchResult.estimated_arrival_time|date('H:i') }}</span>
                    <div class="sb--line-dots-connector">
                        <span class="sb--connect-circle sb--connect-circle-green"></span>
                        <span class="sb--connect-line"></span>
                        <span class="sb--connect-circle sb--connect-circle-red"></span>
                    </div>
                    <span class="direct-line">&nbsp;DIRECT</span>
                </div>
                <div class="sb--route-element sb--route-station">
                    <div class="sb--row">
                        <span class="sb-emphasize">{{ searchResult.time_of_arrival|date('H:i') }}</span>
                    </div>
                    <span class="sb--truncate">{{ searchResult.travel_to }}</span>
                </div>
                <div class="sb--route-element sb--route-travel-company">
                    <a class="company-more">more info (dodaj path do informacija)</a>
                    <span class="sb--company-code">Slavonija Bus (hardkodirano)</span>
                </div>
                <div class="sb--route-element">
                    <div class="sb--route-status">
                        <div class="sb--route-price-total">
                            <span class="total-price">{{ searchResult.fee }} {{ defaultCurrency }}</span>
                        </div>
                        <div class="sb--route-price-total-euro">
                            <span class="total-euro-price">({{ euro }}{{ currency }})</span>
                        </div>
                        <div class="sb--route-element route--select">
                            <a href="{{ path('app_cart_addtocart', {id: searchResult.id}) }}">Buy ticket<div class="sb--column-middle"></div></a>
                        </div>


                    </div>

                </div>

            </div>

        </div>

       {# <form>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First name</label>
                    <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                </div>
                <div>
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Last name</label>
                    <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required>
                </div>
            </div>
        </form>#}
        {#{% for searchResult in results %}
            {{ searchResult.depart_from }}
        {% endfor %}#}
    {% endfor %}
        {% endif %}
    </div>
{% endblock %}
