{% extends 'base.html.twig' %}

{% block title %}Bus2GO{% endblock %}

{% block body %}
    {% if form is defined %}
        {{ form_start(form) }}

        <span class="search__select-label-from"></span>
        {{ form_row(form.departFrom, {'label':false}) }}
        <span class="search__select-label-to"></span>
        {{ form_row(form.travelTo, {'label':false}) }}
        <span class="search__select-label-datefrom"></span>
        {{ form_row(form.departingOn, {'label':false}) }}
        <input type="submit" value="Search" class="btn btn--black__search">
        {{ form_end(form) }}
    {% endif %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash }}</div>
    {% endfor %}

    <script>

        let autosuggest = (inputSelector, minLength, searchField) => {
            let input = document.querySelector(inputSelector);
            input.addEventListener("keyup", () => {
                let searchTerm = input.value.trim();

                if (searchTerm.length >= minLength) {
                    fetch('{{ path('app_search') }}', {
                        //dataType: "json",
                        method: "POST",
                        body: JSON.stringify({ [searchField]: searchTerm}),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            const results = data;

                            const suggestions = document.createElement('ul');
                            suggestions.classList.add('suggestions');

                            for (let i = 0; i < results.length; i++) {
                                const suggestion = document.createElement('li');

                                suggestion.classList.add('suggestion');
                                suggestion.textContent = results[i];
                                suggestions.appendChild(suggestion);
                                if (i % 2 === 0) {
                                    suggestion.style.background = "#ccc";
                                }
                                suggestion.addEventListener('click', () => {
                                    input.value = suggestion.textContent;
                                })
                            }

                            const currentSuggestions = input.parentNode.querySelector('.suggestions');
                            if (currentSuggestions) {
                                input.parentNode.removeChild(currentSuggestions);
                            }

                            input.parentNode.appendChild(suggestions);
                        })
                        .catch(error => console.log(error));
                }

                let closeSuggestList = () => {
                    let suggestions = document.getElementsByClassName('suggestions');
                    for (let i = 0; i < suggestions.length; i++) {
                        suggestions[i].parentNode.removeChild(suggestions[i]);
                    }
                }

                document.addEventListener('click', (e) => {
                    closeSuggestList(e.target);
                })
            })
        };

        autosuggest(".search__select--from", 3, "departFrom");
        autosuggest(".search__select--to", 3, "travelTo");


        $(document).ready(function() {
            $(".js-datepicker").datepicker({
                dateFormat: 'dd-mm-yy',
                beforeShowDay: $.datepicker.noWeekends,
                minDate: 0
            });

            setTimeout(() => {
                let alertSuccess = document.querySelector('.alert-success');
                if (!alertSuccess) {
                    return false;
                }
                alertSuccess.style.display = 'none';
            }, 1500);
        });

    </script>

{% endblock %}