{% extends 'base.html.twig' %}
{% block title %} Orders {% endblock %}

{% block body %}
    {% if orders is not defined %}
        {% for message in app.flashes('flash-warning') %}
            <div class="flash-warning">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
    <div class="sb--summary-container">
        <div class="sb--summary-info">
            <h1 class="summary-title">Orders</h1>
            <h2 class="summary-paragraph">Here are all of your orders</h2>
            <div class="summary-description">Information about the purchased driving ticket</div>
            <div class="summary-main">
                {% for order in orders %}
                    <div class="sb--summary-column grey">
                        <div class="sb--summary-row">
                           Depart from: {{ order.travelSchedule.getDepartFrom }}
                        </div>
                        <div class="sb--summary-row">
                           Travel to: {{ order.travelSchedule.getTravelTo }}
                        </div>
                        <div class="sb--summary-row">
                         Departing on (date): {{ order.travelSchedule.getDepartingOn|date('d-m-Y') }}
                        </div>
                        <div class="sb--summary-row">
                          Departure time: {{ order.travelSchedule.getDepartureTime|date('H:i') }}
                        </div>
                        <div class="sb--summary-row">
                           Time of arrival: {{ order.travelSchedule.getTimeOfArrival|date('H:i') }}
                        </div>
                        <div class="sb--summary-row">
                           Estimated arrival time: {{ order.travelSchedule.getEstimatedArrivalTime|date('H:i') }}
                        </div>
                        <div class="sb--summary-row">
                            <span class="sb--summary-row price">Total: {{ order.total|number_format(2, '.', '') }} €</span>
                        </div>
                    </div>
                    <div class="summary-main">
                        <div class="sb--summary-column lightgrey">
                            <div class="sb--summary-row">
                                <span class="sb--bus-company">Bus company:</span>
                                {{ order.getTravelSchedule.getBusCompany.getName }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}