{#
{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">

    {% for cart in userCart %}
        {{ cart.travelSchedule.getDepartFrom }}
        {{ cart.travelSchedule.getTravelTo }}
        {{ cart.travelSchedule.getDepartingOn|date('d-m-Y') }}
        {{ cart.travelSchedule.getReturningOn|date('d-m-Y') }}
        {{ cart.travelSchedule.getDepartureTime|date('H:i') }}
        {{ cart.travelSchedule.getTimeOfArrival|date('H:i') }}
        {{ cart.travelSchedule.getEstimatedArrivalTime|date('H:i') }}
        {{ cart.getQuantity }}
        {{ cart.travelSchedule.getFee }}

        Total: {{ cart.travelSchedule.getFee * cart.getQuantity }}<br>

    {% endfor %}

        Your data:
        {{ user.firstname }} {{ user.lastname }} {{ user.mobile }} {{ user.email }}
    {{ form_start(orderForm) }}

    {{ form_end(orderForm) }}


</div>
{% endblock %}
#}

{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    {% if orders is not defined %}
        {% for message in app.flashes('warning-orders') %}
            <div class="flash-warning">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        {% for order in orders %}
            {{ order.travelSchedule.getDepartFrom }}
            {{ order.travelSchedule.getTravelTo }}
            {{ order.travelSchedule.getReturningOn|date('d-m-Y') }}
            {{ order.travelSchedule.getDepartureTime|date('d-m-Y') }}
            {{ order.travelSchedule.getTimeOfArrival|date('H:i') }}
            {{ order.travelSchedule.getEstimatedArrivalTime|date('H:i') }}
            {{ order.travelSchedule.getFee }}
        {% endfor %}
    {% endif %}

{% endblock %}