{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">

        {{ cart.getDepartFrom }}
        {{ cart.getTravelTo }}
        {{ cart.getDepartingOn|date('d-m-Y') }}
        {{ cart.getReturningOn|date('d-m-Y') }}
        {{ cart.getDepartureTime|date('H:i') }}
        {{ cart.getTimeOfArrival|date('H:i') }}
        {{ cart.getEstimatedArrivalTime|date('H:i') }}
        {{ cart.getQuantity }}
        {{ cart.getFee }}

        Total: {#{{ cart.getFee * cart.getQuantity }}#}<br>


        Your data:
        {{ user.firstname }} {{ user.lastname }} {{ user.mobile }} {{ user.email }}
        {{ form_start(orderForm) }}

        {{ form_end(orderForm) }}


    </div>
{% endblock %}